body, html{
    margin: 0;
    padding: 0;
    min-width: var(--minWidth);
}

:root{
    --minWidth: 360px;
    --maxWidth: 1920px;
    --minFontSize: 15px;
    --maxFontSize: 30px;
    --minImageSize: 100px; /* Minimum image size */
    --maxImageSize: 300px; /* Maximum image size */
}
.Header-Container{
    z-index: 1000;
    transition: background-color 0.5s ease;
    color: rgb(21,68,163)    
}

.Header-Nav-Item{
    height: min-content;
    display: flex;
}

.Header-Nav-Item a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.5s ease;
    font-family: nunito;
    font-size: var(--maxFontSize);

}

.Header-Nav-Item a:hover {
    color: rgb(21,68,163);
}

.Intro-Image-Container img {
    max-height: var(--maxImageSize); /* Set maximum height for the image */
}

/* Media query for adjusting font size based on screen width */
@media (max-width: 1200px) {
  .Header-Nav-Item a {
    font-size: calc(var(--maxFontSize) * 0.9); /* Adjust font size based on screen width */
  }
}

@media (max-width: 992px) {
  .Header-Nav-Item a {
    font-size: calc(var(--maxFontSize) * 0.8); /* Adjust font size based on screen width */
  }
}

@media (max-width: 768px) {
  .Header-Nav-Item a {
    font-size: calc(var(--maxFontSize) * 0.7); /* Adjust font size based on screen width */
  }
}

@media (max-width: 576px) {
  .Header-Nav-Item a {
    font-size: calc(var(--maxFontSize) * 0.6); /* Adjust font size based on screen width */
  }
}

@media (max-width: 400px) {
  .Header-Nav-Item a {
    font-size: var(--minFontSize); /* Set font size to min font size for very small screens */
  }
}

/* Media query for adjusting image size based on screen width */
@media (max-width: 1200px) {
  .Intro-Image-Container img {
    max-height: calc(var(--maxImageSize) * 0.9); /* Adjust image size based on screen width */
  }
}

@media (max-width: 992px) {
  .Intro-Image-Container img {
    max-height: calc(var(--maxImageSize) * 0.8); /* Adjust image size based on screen width */
  }
}

@media (max-width: 768px) {
  .Intro-Image-Container img {
    max-height: calc(var(--maxImageSize) * 0.7); /* Adjust image size based on screen width */
  }
}

@media (max-width: 576px) {
  .Intro-Image-Container img {
    max-height: calc(var(--maxImageSize) * 0.6); /* Adjust image size based on screen width */
  }
}

@media (max-width: 400px) {
  .Intro-Image-Container img {
    max-height: var(--minImageSize); /* Set minimum height for the image for very small screens */
  }
}